<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TemperStat</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <style>
         .center {
         margin: auto;
         width: 50%;
         padding: 10px;
         }
      </style>
   </head>
   <body>
      <section class="hero is-info">
         <div class="hero-body">
            <div class="container">
               <h1 class="title">
                  TemperStat
               </h1>
            </div>
         </div>
      </section>
      <br>
      <div class="container center">
         <div class="box">
            <h1 class="title">Temperature</h1>
            <h1 class="subtitle" style="color: hsl(217, 71%, 53%);font-size: 1.7em;">31 &#8451;</h1>
         </div>
      </div>
      <div class="container center">
         <div class="box">
            <h1 class="title">Humidity</h1>
            <h1 class="subtitle"  style="color: hsl(204, 86%, 53%);font-size: 1.7em;">42 %</h1>
         </div>
      </div>
      <br>
      <div class="container center">
         <div class="field center">
            <div class="control">
               <input class="input is-info is-rounded" type="text" placeholder="Enter Email" style="width: 20em;">&nbsp;&nbsp;
               <button class="button is-rounded is-link">Send</button>
            </div>
         </div>
      </div>
      <br>
      <div class="container center">
         <table class="table center">
            <thead>
               <tr>
                  <th>Time</th>
                  <th>Temperature</th>
                  <th>Humidity</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>12 : 45</td>
                  <td>32 &#8451;</td>
                  <td>40%</td>
               </tr>
               <tr>
                  <td>12 : 46</td>
                  <td>34 &#8451;</td>
                  <td>51%</td>
               </tr>
               <tr>
                  <td>12 : 46</td>
                  <td>34 &#8451;</td>
                  <td>51%</td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>